body{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#pageTitle {
  display: flex;
  align-self: center;
  align-content: center;
  justify-content: center;
}

.gameboard-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.alpha-coordinates{
  display: flex;
  gap: 30px;
}
